a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.header-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin: -1.5rem -1.5rem 0;
  background-color: #3f6ad8;
}

.logo-hide {
  display: none;
}
