<div id="sidebar-menu" class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar fixed-footer" #appContainer>
    <app-header-menu></app-header-menu>
    <div class="app-main">
        <div class="app-sidebar sidebar-shadow">
            <!--<app-header-menu></app-header-menu>-->
            <app-nav-menu (onSearch)="onSearch($event)"></app-nav-menu>
        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <!-- Start Content -->
                <router-outlet></router-outlet>
                <!-- End Content -->
            </div>
        </div>
    </div>
</div>